nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0em;
  padding: 0.25em;
  background-color: white;
  border-bottom: 1px solid black;
}

nav h1 {
  margin: 0.3em;
}

img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-right: 1em;
  align-self: center;
}

#about {
  display: flex;
}

#container p {
  margin: 0;
}

#selectors {
  display: flex;
  padding: 0;
  margin-right: 1em;
}

#selectors > a {
  margin-right: 1em;
  padding: 0;
}

#selectors > a:hover {
  color: purple;
}

#selectors > a:active {
  color: green;
}

li {
  margin-bottom: 0.5em;
}
